.App {
  text-align: center;
}

.App-header {
  background-image: url('./bg.jpg');
background-size: cover;
background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 20, 20);
}
.deleteBtn {
  border-radius: 25px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  background-color: rgb(240, 56, 43);

}
.submitBtn {
  padding:10;
  border-radius: 20;
font-size:20;
}
.allTodos {
  list-style: none;
  margin:0;
  padding: 0;
}

.singleTodo {
  border-radius: 50px;
  margin: 10pz 0;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}

.todoText {
  text-align:start;
  flex:1;
}